<!-- NavBar in the footer-->
<footer class="bg-dark footer mt-5 footer-expand-md footer-secondary">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4 text-light">
                <h5 class="text-primary">BizEverywhere</h5>
            </div>
            <div class="col-md-2 text-light">
                <h5 class="text-primary">Features</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-light">Our Features</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Pricing</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Affiliate Program</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Press Kit</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="text-primary">Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-light">Account</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Help</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="text-primary">Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-light">Privacy Policy</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="text-primary">Social Media</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-light">Twitter</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Product Hunt</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Instagram</a></li>
                    <li><a href="#" class="text-decoration-none text-light">Github</a></li>
                </ul>
            </div>
        </div>
    </div>              
</footer>