<footer class="fixed-bottom">
    <nav class="bg-dark navbar mt-5 navbar-expand-md navbar-dark">
        <div class="container-fluid">        
            <a href="#" class="navbar-brand"></a>
            <ul class="navbar-nav mt-auto">
                <li class="nav-item">
                <a href="#" class="nav-link">Help</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link">Terms of Use</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>