<div class="container flex-grow-1">
    <div class="container">
        <!-- Business Logo -->
        <div class="BusinessLogo">
            <h1 class="events text-center">
                <br> <img src="BizEverywhereSign.jpg" class="img-rounded" alt="Cinque Terre">
            </h1>
        </div>

        <!-- Columns in the body -->
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card text-bg-dark">
                        <div class="card-body">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit ullam quisquam ipsa nam porro distinctio quia dolor enim voluptatem consequuntur!
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card text-bg-dark">
                        <div class="card-body">
                            <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere animi dolores at, praesentium est ab, sint corrupti cumque unde nostrum accusamus aut labore ea aperiam, libero possimus quibusdam eius officia! Incidunt provident totam voluptate nihil nam error corporis accusantium molestiae. Qui optio assumenda minima alias, at neque distinctio nam animi possimus dignissimos ullam deleniti dolores, veniam similique numquam voluptates eos error temporibus asperiores consequatur minus tenetur ducimus. Ducimus vel quia vitae voluptate harum veritatis accusantium repellendus nemo quisquam eligendi, in at autem dolorum? Architecto earum possimus, libero est consectetur sapiente pariatur asperiores hic itaque quod soluta ad laborum optio a suscipit saepe tempora quaerat veniam fuga cumque rem eligendi! Accusamus esse nostrum autem sapiente aliquam vero ea delectus, molestiae numquam maiores aliquid quae a amet, obcaecati dicta eligendi ratione repudiandae ducimus illo perspiciatis iusto hic temporibus quam nemo. Reprehenderit facilis quos iusto alias itaque maiores. Eos, error, consequatur doloremque aliquid officiis alias ex blanditiis cum quia maiores reiciendis inventore sed? Deserunt, facere modi amet omnis, error eaque voluptatibus sunt nisi ducimus obcaecati, beatae recusandae saepe provident corporis sint inventore? Reiciendis modi aperiam ullam, inventore voluptas necessitatibus laudantium corrupti commodi harum. In suscipit natus omnis praesentium consequatur, velit voluptatibus laborum odit. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>