<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--Navbar-->
<header class="p-3 bg-secondary text-white">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-secondary" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
          </div>
      </div>
  </div>
</header>

<main class="container">
  <div class="d-flex justify-content-between mt-5 p-4 p-md-5 mb-4 text-white rounded bg-secondary">

      <div class="col-md-4">
          <div class="image-container border">
              <img class="mx-auto" src="..." alt="Company Logo">
          </div>
      </div>

      <div class="col-md-6">
        <h1 class="display-4 fst-italic">Title of a listing</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      </div>

  </div>

  
  <div class="col-xs-12 pb-md-2">
      <h2>Business Description</h2>
      <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>

  </div>

  <!---This is the listing contact-->
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-secondary">
              <div class="card-header py-3 text-white bg-secondary border-secondary">
                  <h4 class="my-0 fw-normal">Contact Owner</h4>
              </div>
              <div class="card-body">
                  <h1 class="card-title pricing-card-title">$2900<small class="text-muted fw-light">/hr</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                      <li>Phone number included</li>
                      <li>1500 sqft of storage</li>
                      <li>Phone and email support</li>
                      <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-secondary">
              <div class="card-header py-3 text-white bg-secondary border-secondary">
                  <h4 class="my-0 fw-normal">Schedule Tour</h4>
              </div>
              <div class="card-body">
                  <h1 class="card-title pricing-card-title">$2900<small class="text-muted fw-light">/hr</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                      <li>Phone number included</li>
                      <li>1500 sqft of storage</li>
                      <li>Phone and email support</li>
                      <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
              </div>
          </div>
      </div>


      <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-secondary">
              <div class="card-header py-3 text-white bg-secondary border-secondary">
                  <h4 class="my-0 fw-normal">Start an Offer</h4>
              </div>
              <div class="card-body">
                  <h1 class="card-title pricing-card-title">$2900<small class="text-muted fw-light">/hr</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                      <li>Phone number included</li>
                      <li>1500 sqft of storage</li>
                      <li>Phone and email support</li>
                      <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
              </div>
          </div>
      </div>
  </div>


  

  <div class="col-md-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d798.6467503195826!2d-118.1102583808241!3d33.783298969846385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2e27c51daeb5%3A0x43a2971edb04e3d8!2sDepartment%20of%20Computer%20Engineering%20and%20Computer%20Science!5e0!3m2!1sen!2sus!4v1676973931075!5m2!1sen!2sus" width="100%" height="25%" style="border:0; margin-bottom: 5%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>



</main>
<!-- NavBar in the footer-->
<nav class="bg-secondary navbar mt-5 navbar-expand-md navbar-secondary">
  <div class="container-fluid">        
      <a href="#" class="navbar-brand"></a>
      <ul class="navbar-nav mt-auto">
          <li class="nav-item">
          <a href="#" class="nav-link">Help</a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item">
          <a href="#" class="nav-link">Terms of Use</a>
          </li>
      </ul>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>